<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Needed to send clip info to Praat</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cha</string>
				<string>CHA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Docs</string>
			<key>CFBundleTypeName</key>
			<string>CHAT File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.talkbank</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>Document</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cut</string>
				<string>CUT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Docs</string>
			<key>CFBundleTypeName</key>
			<string>CHAT File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.talkbank</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>Document</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cex</string>
				<string>CEX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Docs</string>
			<key>CFBundleTypeName</key>
			<string>CHAT File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.talkbank</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>Document</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cdc</string>
				<string>CDC</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Docs</string>
			<key>CFBundleTypeName</key>
			<string>CHAT File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.talkbank</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>Document</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>chi</string>
				<string>CHI</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Docs</string>
			<key>CFBundleTypeName</key>
			<string>CHAT File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.talkbank</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>Document</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
				<string>TXT</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Unknown document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.talkbank</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>Document</string>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Unknown document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleHelpBookFolder</key>
	<string>HelpD</string>
	<key>CFBundleHelpBookName</key>
	<string>Clan Help</string>
	<key>CFBundleIconFile</key>
	<string>ClanX.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>For the Version number, use &quot;About Clan...&quot; inside the application</string>
	<key>CFBundleName</key>
	<string>CLANc</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.12.00</string>
	<key>CFBundleSignature</key>
	<string>MCed</string>
	<key>CFBundleVersion</key>
	<string>For the Version number, use &quot;About Clan...&quot; inside the application</string>
	<key>NSHumanReadableCopyright</key>
	<string>For help on the CLAN call: (412) 268-3793 or email: macw@cmu.edu</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>CLANApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>New CLAN Window Containing Selection</string>
			</dict>
			<key>NSMessage</key>
			<string>openSelection</string>
			<key>NSPortName</key>
			<string>CLANc</string>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open Selected File in CLAN</string>
			</dict>
			<key>NSMessage</key>
			<string>openFile</string>
			<key>NSPortName</key>
			<string>CLANc</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsSuddenTermination</key>
	<string>YES</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>LSIsAppleDefaultForType</key>
			<false/>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>CHAT File</string>
			<key>UTTypeIconFile</key>
			<string>Docs</string>
			<key>UTTypeIdentifier</key>
			<string>org.talkbank</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>MCed</string>
				<key>public.filename-extension</key>
				<array>
					<string>cha</string>
					<string>CHA</string>
					<string>cut</string>
					<string>CUT</string>
					<string>cex</string>
					<string>CEX</string>
					<string>cdc</string>
					<string>CDC</string>
					<string>chi</string>
					<string>CHI</string>
					<string>txt</string>
					<string>TXT</string>
				</array>
				<key>public.mime-type</key>
				<string>text/CHAT</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
